{% extends "base.html" %}
{% block title %}B.Tech - Zest{% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/undergrad">Undergrad</a></li>
        <li class="breadcrumb-item active" aria-current="page">B.Tech</li>
    </ol>
</nav>
<h1>B.Tech Semesters</h1>
<div class="list-group mt-3">
    {% for sem in semesters %}
    <a href="/undergrad/{{ course }}/{{ sem }}" class="list-group-item list-group-item-action">Semester {{ sem }}</a>
    {% endfor %}
</div>
{% endblock %}
