{% extends "base.html" %}
{% block title %}{{ breadcrumbs[1][0] }} - Zest{% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        {% for label, url in breadcrumbs %}
            {% if url %}
                <li class="breadcrumb-item"><a href="{{ url }}">{{ label }}</a></li>
            {% else %}
                <li class="breadcrumb-item active" aria-current="page">{{ label }}</li>
            {% endif %}
        {% endfor %}
    </ol>
</nav>
<h1>{{ breadcrumbs[1][0] }}</h1>
<div id="accordion">
    {% for sem, resources in resources_by_sem.items() %}
    <div class="card">
        <div class="card-header" id="heading-{{ sem.replace(' ', '-') }}">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-{{ sem.replace(' ', '-') }}" aria-expanded="true" aria-controls="collapse-{{ sem.replace(' ', '-') }}">
                    {{ sem }}
                </button>
            </h5>
        </div>

        <div id="collapse-{{ sem.replace(' ', '-') }}" class="collapse" aria-labelledby="heading-{{ sem.replace(' ', '-') }}" data-parent="#accordion">
            <div class="card-body">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th>Title</th>
                            <th>Filename</th>
                            <th>Uploaded</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for resource in resources %}
                        <tr>
                            <td>{{ resource.title }}</td>
                            <td>{{ resource.filename }}</td>
                            <td>{{ resource.upload_date }}</td>
                            <td><a href="/download/{{ resource.filename }}" class="btn btn-sm btn-success">Download</a>
                                {% if g.user and g.user.is_admin %}
                                <a href="/remove/{{ resource.filename }}" class="btn btn-sm btn-danger">Remove</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
