{% extends "base.html" %}
{% block title %}Intermediate - Zest{% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Intermediate</li>
    </ol>
</nav>
<h1>Intermediate</h1>
<div class="list-group">
    {% for class_num in classes %}
    <a href="/intermediate/{{ class_num }}" class="list-group-item list-group-item-action">{{ class_num }}th class</a>
    {% endfor %}
</div>
{% endblock %}
