{% extends "base.html" %}
{% block title %}Undergrad - Zest{% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Undergrad</li>
    </ol>
</nav>
<h1>Undergrad</h1>
<div class="list-group">
    {% for course in courses %}
    <a href="/undergrad/{{ course }}" class="list-group-item list-group-item-action">{{ course }}</a>
    {% endfor %}
</div>
{% endblock %}
